{% extends "layout.html" %}
{% block content %}
    <h1>Enrollments</h1>
    <br>
    {% for row in joined_m_n %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <span>{{ row.fname }}</span>
                <span>{{ row.lname }}</span>,
                <span>{{ row.pname }}</span>
            </div>
			<a class="" href="{{ url_for('assign1', pno=row.pno,essn=row.essn) }}">Remove</a>

          </div>
        </article>
     {% endfor %}
{% endblock content %}