<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>{% extends "layout.html" %}
{% block content %}
   {% for row in shopcart %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    Product: {{ row.title }}
{#                    <a class="mr-2" href="{{ url_for('shopcart', shopcartId=row.id) }}">{{ row }}</a> <br/>#}
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock content %}