<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>{% extends "layout.html" %}
{% block content %}
    {% for row in shopcartProds %}
        <article class="media content-section">
            <div class="media-body">
                <div class="">
                    Product: {{ row.title }} <a class="btn btn-danger btn-sm mt-1 mb-1 " style="float:right;" href="{{ url_for('removeFromCart', pno=row.id) }}">Remove</a>
                </div>
            </div>
        </article>
        <div>

            {#         <a class="" href="{{ url_for('assign1', pno=row.pno,essn=row.essn) }}">Remove</a>#}
        </div>
    {% endfor %}



    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('checkout', shopcartId=shoppingCart.id) }}">Checkout</a>
{% endblock content %}

